.logo {
  height: 3vw;
  width: 3vw;
  margin: 10px;
}

.websiteUsername {
  font-family: Roboto Condensed;
  font-weight: bold;
  font-size: 32px;
}

.inputSearch {
  background-color: white;

  padding-left: 30px;

  border: none;
  width: 30vw;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  outline: none;
  text-align: center;
  box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
}
